
/* FONTS and COLORS */

body { font:10pt Tahoma, Sans-Serif; color:#fff; background:#000;}

h1 { font-size:180%; letter-spacing:1px;}

h2 { font-size:130%;}

h3 { font-size:110%;}

a{color:#ccc;}